html{
    font-size: 62.5%;
  }
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
}

/* Variables globales  */
:root{
    --main-color:  #ffb43a ;
    --hover-color: hsl(37,94%,57%)  ;
    --body-color:#1e1e2a  ;
    --Container-color: #2d2e37   ;
    --Text-color: #fcfeff   ;
}
section{
    padding: 3rem 0 2rem;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    width: 100%;
}
body{
    background-color: var(--body-color);
    color: var(--Text-color);
    font-size: 16px; /*1rem= 10px */
}
.container{
    max-width:1068px;
    margin: auto;
    width: 100%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index: 100;
    
}
main{
    height:100vh;
}
/* nav  */
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
.logo{
    color: var(--Text-color);
    font-size: 1.8rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 auto 0 0;
}
.logo span{
    color: var(--main-color);
}
/* search box  */
.search-box{
    max-width: 24rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.7rem;
    padding: 0.8rem 1.5rem;
    background-color: var(--Container-color);
    border-radius: 4rem;
    margin-right: 1.5rem;
}
.search-box .bx{
    font-size: 2rem;

}
.search-box .bx:hover{
    cursor: pointer;
    color: var(--hover-color);
}
#search-input{
    width: 100%;
    border: none;
    outline: none;
    color: var(--Text-color);
    background: transparent;
    font-size: 0.938rem;
}
/******** user  *******/
.user{
    display: flex;
    justify-content: space-between;
}
.user-img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;  /* con esta propiedad se ve mejor la imagen as ieste muy pequeña  */
    object-position: center;
}
.navbar{
    position: fixed;
    top: 50%;
    transform:translateY(-50%);
    left: 1.8rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    

}
.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #b7b7b7;
}
.nav-link:hover{
    color: var(--Text-color);
    cursor: pointer;
    transition: 0.3s all linear;
    transform: scale(1.3);
}
.nav-link-title{
    font-size: 1rem;
}
/***** Home  ******/
.home{
position: relative;
   min-height:47rem;
   display: flex;
   align-items: center;
   margin-top: 8rem !important;
   border-radius: 0.5rem;
}
.home-img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    border-radius: 2.5rem;
}
.home-text{
    padding-left: 5rem;
}
.home-title{
    font-size: 3rem;
    font-weight: 600;
    line-height: 4rem;
}
.home-text p{
    color: var(--main-color);
    font-size: 1.2rem;
    margin: 1rem 0 4rem;
}
.watch-btn{
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
}
.watch-btn .bx{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.watch-btn .bx:hover{
background-color: var(--hover-color);
}
.bx-play-circle{
    background-color: var(--main-color);
    color: var(--Text-color); 
}
.watch-btn span{
    color: var(--Text-color);
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Container-color);
    padding: 8px 14px;
    border: 2px solid hsl(200 100% 99% / 5%);
    border-radius: 5px;

    
}
.heading-title{
    font-size: 2.5rem;
    font-weight: 500;
    
}